In [21]:
print("hello World")

hello World

In [22]:
age = 20
print(age)

20

In [23]:
age = 20
age = 30
print(age)

30

In [24]:
# RECIVING INPUT FROM USER
name = input("what is your name?   ")
print("Hello   "+name)

Hello   kazi

TYPE CONVERTIONS =     NUMBER,,,,STRING,,,BOOLEAN

In [25]:
Birth_year = input("enter your birth year:  ")
age = 2020 - Birth_year
print(age)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [26]:
Birth_year = input("enter your birth year:  ")
age = 2020 - int(Birth_year)
print(age)

19

In [27]:
first = input("first:  ")
second = input ("second:   ")
sum = int(first)  + int(second )
print(sum)

30

In [28]:
first = input("first:  ")
second = input ("second:   ")
sum = float(first)  + float(second )
print(sum)

30.4

In [29]:
first = float(input("first:  "))
second =float( input ("second:   "))
sum = first + second
print(sum)

30.4

#strings

In [32]:
couse = "python for beginers"
print (couse.upper())
couse

PYTHON FOR BEGINERS

'python for beginers'

In [34]:
couse = "python for beginers"
print (couse.find('y'))
couse

1

'python for beginers'

In [35]:
couse = "python for beginers"
print (couse.find('Y'))
couse

-1

'python for beginers'

In [36]:
couse = "python for beginers"
print (couse.find('for'))
couse

7

'python for beginers'

In [37]:
couse = "python for beginers"
print (couse.replace('for','4'))
couse

python 4 beginers

'python for beginers'

In [38]:
couse = "python for beginers"
print (couse.find('python'))
couse

0

'python for beginers'

In [39]:
couse = "python for beginers"
print ('python' in  couse)

True

ARITHMKETIC OPERATORS

In [44]:
print(10  +  3)
print(10  -  3)
print(10  *  3)
print(10  /  3)
print(10  %  3)
print(10  **  3)  
print(10  //  3)

13
7
30
3.3333333333333335
1
1000
3

In [52]:
X = 10
X = X +3
X +=  3
print (X)

16

OPERATOR PRECEDENCE

In [53]:
def new_func():
    X = 10 + 3 *2 
    print(X)

new_func()

16

In [54]:
X = (10 + 3 )*2 
print(X)

26

COMPARISION OPERATORS  =   >,,,,<,,,,,>=,,,,,<=,,,,,,==,,,,,,!=

LOGICAL OPERATORS

In [56]:
price = 35
print(price>10   and price < 30)

True

In [72]:
#   if statements in python
temperature  = 35

if temperature > 30:
   print  ("its a hot day")
   print("drink plenty of water")

its a hot day
drink plenty of water